---
Checks: >
  bugprone-*,
  cert-*,
  performance-*,
  portability-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-multi-level-implicit-pointer-conversion,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity,
  -readability-isolate-declaration,
  -cert-err33-c
WarningsAsErrors: 'bugprone-*,cert-*'
HeaderFilterRegex: '^src/main/cpp/(?!byedpi/).*'
FormatStyle: file
